/* CSS Style Sheet for Crazy Bob */
/*Global Style*/
body{
    background-color:wheat;
    margin:0;
    padding:0;
}

div#container {
    background-color: burlywood;
    width:1024px;
    /*centers the container */
    margin:auto;
}

header {
    background-image: url(../Images/PumpkinHeader.jpg);
    background-position: right;
    background-size: cover;
    width:100%;
    height:150px;
     margin: 0;
}
header h1 {
    text-align: center;
    padding-top: 50px;
    color:red;
    text-shadow: 5px 5px 3px black;
     margin: 0;
    
    font-family: 'Nosifer', cursive;
    font-size: 50px;
}

nav {
    width:100%;
    background-color: orange;
    clear:both;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px
}

nav ul {
     margin: 0;
    padding:0;
    overflow: hidden;
    list-style: none;
}

nav ul li {
    float:left;
}
nav ul li a {
    display: block;
    color:black;
    text-align: center;
    text-decoration: none;
    padding:14px 16px;
}
nav ul li a:hover {
    background-color: red;
}
.active {
    background-color:orangered;
}
footer {
    width:100%;
    background-color: #0000;
    color:black;
    text-align: center;
    padding: 20px 0;
    float: left;
    
}
.keepOpen {
    clear: both;
}
/* index.html*/
 img#home-img {
     width:400px;
    display:block;
    margin: 15px;
    border:5px outset brown;
    float:left;
}
h2#h2-home {
    float:left;
    margin-top: 10px;
    margin-bottom: 0; 
    font-family: 'Fjalla One', sans-serif;
}
p#p-home {
    float: left;
    width: 56%;
    margin-top: 10px;
}
/*about.html*/
img#about-img {
    width:500px;
    display: block;
    margin: 15px;
    border: 5px outset #a83f07;
    float: left;
}
h2#h2-about {
    float:left;
    font-family: 'Fjalla One', sans-serif;
}
p#p-about{
    float: left;
    width: 45%;
}
/* produce.html*/
h2#h2-produce{
    font-family: 'Fjalla One', sans-serif;
}
div#gallery {
    width: 100%;
    height: 100%;
    border: 3px dotted green;
}
figure {
    width 250px;
    float:left;
    background-color: #faa406;
    box-shadow:1px 1px 10px black;
}
figure img{
    display:block;
    width: 200px;
    height:150px;
    margin: 18px 10px;
    border: solid black;
}
figcaption {
    text-align: center;
    padding-bottom: 10px;
    font-family:sans-serif;
    font-size: 14px;
}
/*contact.html*/
h2#h2-contact {
    margin-left: 10px;
    font-family: 'Fjalla One', sans-serif;
}
form#form-contact { 
    margin-left: 10px;
}
form input {
    margin-bottom:10px;
}
button#button-contact {
    width:80px;
    height: 25px;
    font-weight: 500;
    margin-bottom: 15px;
    box-shadow: 2px 3px 2px #62077e;
}