/* Desktop size */
body{
    background-color:lightgray;
    margin:0 0 0 0;
    padding:0 0 0 0;
    border: 0 0 0 0;
}
h2{
    font-size: 50px;
    text-align: center;
}
nav {
    width:100%;
    background-color: #2EA8FF;
    clear:both;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

nav ul {
     margin: 0;
    padding:0;
    overflow: hidden;
    list-style: none;
}

nav ul li {
    float:left;
}
nav ul li a {
    display: block;
    color:black;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
}
nav ul li a:hover {
    background-color: #0fa8bc;
}
.active {
    background-color:#10dbf7;
}
div#container {
    width:100%;
    padding: 20px 16px;
    flex:initial;
    flex-direction: column;
}
div#container #meImg{
    height:auto;
    width: 60%;
    align-content: center;
    display:block;
    margin:auto;
}
div#container p{
    text-align: center;
    width:500px;
    align-content: center;
}
div#container h5{
    margin-bottom: 0px;
}
.input {
    width: 500px;
    height: 20px;
    margin-top: 0px;
    padding-top: 0px;
    
}
 .Message{
    width: 600px;
    height: 300px;
    margin-top: 0px;
    padding-top: 0px;
    
}
div#container button{
    width:200px;
    height:50px;
    background-color: #2EA8FF;
    color:black;
}
div#container button:hover {
    background-color: #0fa8bc;
}
.grid-container {
   display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
    float:left;
}
.grid-container h3 {
    padding: 0px;
    text-align: center;
    margin:0;
}
.grid-container p {
    margin-top: 0;
}
.porfolio {
    width: 90%;
    height: auto;
    padding: 40px  0 0 0;
    margin: 0 0 0 0;
}
.grid-containers {
   display: grid;
  grid-template-columns: auto;
  padding: 10px;
align-content: center;
}
.porfolios {
    width:80%;
    height: auto;
    padding: 60px  0 0 0;
    margin: 0 0 0 0;
    align-content: center;
}
.grid-containers h3 {
    padding: 0px;
    text-align: center;
    margin:0;
    font-size: 30px;
}
.grid-containers p {
    margin-top: 0;
    font-size: 20px;
    
}

footer {
    width:100%;
    background-color: #0000;
    color:black;
    text-align: center;
    padding: 20px 0;
    float: left;
}











/* Phone size */

@media screen and (max-width: 600px) {
   body{
    background-color:lightgray;
    margin:0;
    padding:0;
}
h2{
    font-size: 50px;
    text-align: center;
}
nav {
    width:100%;
    background-color: #2EA8FF;
    clear:both;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

nav ul {
     margin: 0;
    padding:0;
    overflow: hidden;
    float: none;
    width: 100%;
}

nav ul li {
    float:none;
}
nav ul li a {
    display: block;
    color:black;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
}
nav ul li a:hover {
    background-color: #0fa8bc;
}
.active {
    background-color:#10dbf7;
}
div#container {
    width:100%;
    flex: auto;
    flex-direction: column;
}
div#container #meImg{
    height:auto;
    width: 60%;
    align-content: center;
    display:block;
    margin:auto;
}
div#container p{
    text-align: center;
    width:300px;
    align-content: center;
}
div#container h5{
    margin-bottom: 0px;
}
.input {
    width: 350px;
    height: 20px;
    margin-top: 0px;
    padding-top: 0px; 
}
.Message {
    width: 400px;
    height: 100px;
    margin-top: 0px;
    padding-top: 0px; 
}
div#container button{
    width:150px;
    height:35px;
    background-color:#2EA8FF;
    color:black;
}
.grid-container {
   display: grid;
  grid-template-columns: auto;
  padding: 10px;
  align-content: center;
   
}
.grid-container h3 {
    padding: 0px;
    margin: 0 0 0 0;
    text-align: center;
    align-content: center;
}
.porfolio {
    width: 100%;
    align-content: center;
    float:left;
    padding:0 0 0 0;
  margin-bottom: 0;
}
    .grid-containers {
   display: grid;
  grid-template-columns: auto;
  padding: 5px;...0
    float:left;
    align-content: center;
}
.porfolios {
    width: 500px;
    height: auto;
    padding: 60px  0 0 0;
    margin: 0 0 0 0;
    align-content: center;
}
.grid-containers h3 {
    
    padding: 0px;
    text-align: left;
    margin:0;
    font-size: 20px;
}
.grid-containers p {
    margin-top: 0;
    font-size: 16px;
    
}
footer {
    width:100%;
    background-color: #0000;
    color:black;
    text-align: center;
    padding: 20px 0;
    float: left;
}
    
}

