/* Desktop size */
body{
    background-color:white;
    margin:0;
    padding:0;
}
h2{
    font-size: 50px;
    text-align: center;
}
nav {
    width:100%;
    background-color: #6E46FF;
    clear:both;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

nav ul {
     margin: 0;
    padding:0;
    overflow: hidden;
    list-style: none;
}

nav ul li {
    float:left;
}
nav ul li a {
    display: block;
    color:black;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
}
nav ul li a:hover {
    background-color: #633FE5;
}
.active {
    background-color:#5334BF;
}
div#container {
    width:100%;
    padding: 20px 16px;
    flex:initial;
    flex-direction: column;
}
div#container #meImg{
    height:300px;
    
}
div#container p{
    width:1000px;
}
div#container button{
    width:75px;
    height:25px;
}
.grid-container {
   display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-container h3 {
    padding: 0px;
    text-align: center;
}
.porfolio {
    width: 50%;
    height: auto;
    padding: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
footer {
    width:100%;
    background-color: #0000;
    color:black;
    text-align: center;
    padding: 20px 0;
    float: left;
}


/* Phone size */

@media screen and (max-width: 600px) {
   body{
    background-color:white;
    margin:0;
    padding:0;
}
h2{
    font-size: 50px;
    text-align: center;
}
nav {
    width:100%;
    background-color: #6E46FF;
    clear:both;
    margin: 0;
    font-family: sans-serif;
    font-size: 20px;
}

nav ul {
     margin: 0;
    padding:0;
    overflow: hidden;
    float: none;
    width: 100%;
}

nav ul li {
    float:none;
}
nav ul li a {
    display: block;
    color:black;
    text-align: center;
    text-decoration:none;
    padding:14px 16px;
}
nav ul li a:hover {
    background-color: #633FE5;
}
.active {
    background-color:#5334BF;
}
div#container {
    width:100%;
    flex: auto;
    flex-direction: column;
}
div#container #meImg{
    height:300px;
    
}
div#container p{
    width:1000px;
}
div#container button{
    width:75px;
    height:25px;
}
.grid-container {
   display: grid;
  grid-template-columns: auto;
  padding: 10px;
  align-content: center;
   
}
.grid-container h3 {
    padding: 0px;
    text-align: center;
}
.porfolio {
    width: 100%;
    align-content: center;
    float:left;
}
footer {
    width:100%;
    background-color: #0000;
    color:black;
    text-align: center;
    padding: 20px 0;
    float: left;
}
    
}

