/*style for blog website*/

/*reset*/
html,body,div,h1,h2,h3,h4,h5,p,ul,ol,li
{
    margin:0;
    padding:0;
}
/*universal style*/
body{
    background-color: darkgray;

}
div#container {
    margin:auto;
    width: 100%;
    background-color:gray;
    display:flex;
    flex-direction: column;
}
header#blogHeader {
    width:100%;
    height: 300px;
    font-family:sans-serif;
    text-align:center;
    background-color:white;
}
/* Blog Post */
div#blogPost {
    width:100%;
    margin: 15px 0;
    padding: 10px;
    background-color: #b2b5c7;
    box-shadow: 3px 3px 3px black;
    text-align: center;
}
footer{
    text-align: center;
}